.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8) rem(12);
  background-color: $orangeColor;
  border-radius: rem(4);
  color: #fff;
  transition: background-color ease 0.3s;

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover {
    background-color: rgba($color: $orangeColor, $alpha: 0.8);
    transition: background-color ease 0.3s;
  }
}
