.items {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(20);

  @media (max-width: em(1200)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}

.loader {
  position: absolute;
  background: radial-gradient(#e6e2dd36, #ffffff8f);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
}
