.homePage {
  display: flex;
  column-gap: rem(20);

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.searchResult {
  color: $greenColor;
  padding: rem(12) 0;

  &__value {
    font-weight: 500;
    background-color: #e6e2dd;
    border-radius: rem(4);
    padding: rem(4) rem(8);
  }
}

.noResult {
  color: $greenColor;
  font-size: rem(26);
}
