// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// Обнуление стилей и подключение миксинов
@import 'styles/null';
@import 'styles/mixins';

//=============================
.container {
  max-width: 1240px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

//=============================
